.DepartmentList {
  margin-top: 130px;
  display: flex;
  justify-content: center;

  .container {
    cursor: default;
    top: 10px;
    left: 0;
    right: 0;
    width: 80vw;
    margin-bottom: 130px;

    z-index: 0;
    padding-top: 15px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    background-image: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1)
    );

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
